{% extends "main/base/base.html" %}

{% block title %}Empresa | {{ company.businessName }}{% endblock title %}

{% block content %}
    <div class="company-container">
        <div class="company-identification">
            <div class="company-cover">
                <img src="{{ company.profilePic.url }}" alt="">
            </div>
            <div class="company-info">
                <div class="company-names">
                    <h1>{{ company.businessName }}</h1>
                    <h2>{{ company.legalName }}</h2>
                </div>
                <div class="company-rating">
                    {% include "main/partials/company-rating.html" %}
                </div>
            </div>
        </div>

        <div class="company-description">
            <p>{{ company.description }}</p>
        </div>

        <div class="company-products">
            <h2>Produtos</h2>
            <div class="company-products-list">
                {% for product in products %}
                    {% include "main/partials/company-products.html" %}
                {% endfor %}
            </div>
        </div>

        <div class="company-services">

        </div>

        <div class="company-contact">
            <div class="company-email">{{ company.email }}</div>
            <div class="company-phone">{{ company.phoneNumber }}</div>
        </div>

        <div class="company-social">
            
        </div>
    </div>
{% endblock content %}