<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% include "main/partials/head.html" %}
    <title>Produto | </title>
</head>
<body>
    {% include "main/partials/header.html" %}

    <div class="product-container">
        <div class="product-cover">
            <img src="{{ product.picture.url }}" class="product-cover-img">
        </div>

        <div class="product-info">
            <div class="product-title">
                <h1>{{ product.name }}</h1>
            </div>
            <div class="product-owner">
                <i class="fa-solid fa-user"></i>
                {{ product.company.businessName }}
            </div>
        </div>

        <div class="product-value">
            <h2>R$ {{ product.value }}</h2>
        </div>

        <div class="product-description">
            {{ product.description }}
        </div>

        <div class="product-rating">
            <i class="fa-solid fa-star fa-3x"></i>
            <i class="fa-solid fa-star fa-3x"></i>
            <i class="fa-regular fa-star-half-stroke fa-3x"></i>
            <i class="fa-regular fa-star fa-3x"></i>
            <i class="fa-regular fa-star fa-3x"></i>
        </div>

        <div class="product-button">
            <button><i class="fa-solid fa-cart-shopping"></i> Comprar</button>
        </div>
    </div>

    {% include "main/partials/footer.html" %}
</body>
</html>