<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% include "main/partials/head.html" %}
    <title>Produto | </title>
</head>
<body>
    {% include "main/partials/header.html" %}

    <div class="product-container">
        <div class="product-cover">
            <img src="https://placehold.co/2000x1000/FFFFFF/000000.png" class="product-cover-img">
        </div>

        <div class="product-info">
            <div class="product-title">
                <h1>Caixa de Parafusos</h1>
            </div>
            <div class="product-owner">
                <i class="fa-solid fa-user"></i>
                Jomarca
            </div>
        </div>

        <div class="product-value">
            <h2>R$ 172,95</h2>
        </div>

        <div class="product-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sagittis, nisi eu malesuada aliquet, libero orci ultricies augue, eget dictum justo nulla vulputate sapien. Sed eros nulla, consectetur quis lacinia sed, sollicitudin a metus. Vestibulum a massa scelerisque, convallis est ac, rhoncus ipsum. Aliquam erat volutpat. Donec sit amet bibendum ex. Maecenas mattis dui sit amet tempus congue. Aliquam quam mi, rutrum vel blandit eget, ultrices sed elit. Morbi accumsan, lorem eu mattis consequat, nisl dolor venenatis ex, non tempor lorem massa vel nulla. 
        </div>

        <div class="product-grade">
            <i class="fa-solid fa-star fa-3x"></i>
            <i class="fa-solid fa-star fa-3x"></i>
            <i class="fa-regular fa-star-half-stroke fa-3x"></i>
            <i class="fa-regular fa-star fa-3x"></i>
            <i class="fa-regular fa-star fa-3x"></i>
        </div>

        <div class="product-button">
            <button><i class="fa-solid fa-cart-shopping"></i> Comprar</button>
        </div>
    </div>

    {% include "main/partials/footer.html" %}
</body>
</html>