{% comment %} <a href=""> {% endcomment %}
    <div class="card main-content-list-item">
        <div class="card-cover">
            <img src="https://placehold.co/2000x1000/FFFFFF/000000.png" alt="">
        </div>

        <div class="card-title">
            <h2>Parafusos</h2>
        </div>

        <div class="card-value">
            R$ 172,95
        </div>

        <div class="card-details">
            <p>Lorem ipsum lorem ipsum ipsum lorem.</p>
        </div>

        <div class="card-info">
            <div class="card-rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star-half-stroke"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>

            <div class="card-owner">
                <i class="fa-solid fa-user"></i>
                Jomarca
            </div>
        </div>

        <div class="card-button">
            <button><i class="fa-solid fa-cart-shopping"></i> Comprar</button>
        </div>
    </div>
{% comment %} </a> {% endcomment %}