<div class="card main-content-list-item">
    <a href="product/">
        <div class="card-cover">
            <img src="{{ product.picture.url }}" alt="">
        </div>

        <div class="card-title">
            <h2>{{ product.name }}</h2>
        </div>

        <div class="card-value">
            R$ {{ product.value }}
        </div>

        <div class="card-details">
            <p>{{ product.details }}</p>
        </div>

        <div class="card-info">
            <div class="card-rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star-half-stroke"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>

            <div class="card-owner">
                <i class="fa-solid fa-user"></i>
                {{ product.company.businessName }}
            </div>
        </div>
    </a>
    <div class="card-button">
        <button><i class="fa-solid fa-cart-shopping"></i> Comprar</button>
    </div>
</div>
