{% load static %}

<header class="main-header-container">
    <div class="main-header-left">
        <img src="{% static 'main/img/cm-square-logo.png' %}" alt="CM" class="main-header-logo">
        <a href="{% url "main_app:home" %}" class="main-header-nav-button">
            <p>Início</p>
        </a>
        <a href="" class="main-header-nav-button">
            <p>Postagens</p>
        </a>
    </div>
    <div class="main-header-right">
        {% if not is_sign_page %}
            <a href="" class="main-header-nav-button icon-button">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
            <a href="" class="main-header-nav-button icon-button">
                <i class="fa-solid fa-message"></i>
            </a>
            <div class="profile-dropdown main-header-nav-button icon-button">
                <button class="profile-dropbtn"><i class="fa-solid fa-user"></i></button>
                <div class="profile-dropdown-content">
                    {% comment %} {% if logado %} {% endcomment %}
                        <p>Olá, "nome"</p>
                        <div class="profile-dropdown-separator"></div>
                        <a href="#">Perfil</a>
                        <a href="#">Histórico</a>
                        <div class="profile-dropdown-separator"></div>
                        <a href="#">Sair</a>
                    {% comment %} {% else %} {% endcomment %}
                        <a href="{% url "main_app:login" %}">Logar</a>
                        <a href="{% url "main_app:register" %}">Criar conta</a>
                    {% comment %} {% endif %} {% endcomment %}
                </div>
              </div>
        {% endif %}
    </div>
</header>