<div class="main-content-container">
    <div class="main-content-option">
        <button class="main-content-option-button" name="products">Produtos</button>
        <button class="main-content-option-button" name="services">Serviços</button>
    </div>
    <div class="main-content-list">
        {% include "main/partials/card.html" %}
        {% include "main/partials/card.html" %}
        {% include "main/partials/card.html" %}
        {% include "main/partials/card.html" %}
        {% comment %} <a href="product/"><div class="placeholder"></div></a>
        <a href="product/"><div class="placeholder"></div></a>
        <a href="product/"><div class="placeholder"></div></a>
        <a href="product/"><div class="placeholder"></div></a>
        <a href="product/"><div class="placeholder"></div></a>
        <a href="product/"><div class="placeholder"></div></a>
        <a href="product/"><div class="placeholder"></div></a>
        <a href="product/"><div class="placeholder"></div></a>
        <a href="product/"><div class="placeholder"></div></a>
        <a href="product/"><div class="placeholder"></div></a> {% endcomment %}
    </div>
</div>